<nav class="navbar navbar-expand-lg navbar-light bg-primary100   ">
    <div class="container border-bottom">
        <a class="navbar-brand me-7" href="#">
            <img src="/assets/images/Vector.png" alt="vivre" width="96" height="28">
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ">
                <div class="input-group ">
                    <input type="search" class="form-control" placeholder="搜尋文章" aria-label="Search">
                    <span class="input-group-text"><i class="bi bi-search"></i>
                    </span>
                </div>
            </form>
            <ul class="navbar-nav fw-bold ms-auto align-items-center  ">
                <li class="nav-item me-5 ">
                    <a class="nav-link text-gray500" href="#">所有文章</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link text-gray500" href="#">訂閱方案</a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link text-gray500" href="#">關於我們</a>
                </li>

                <li class="nav-item">
                    <button class="btn btn-accent200 rounded-pill px-6 py-4 text-white" type="button">登入 / 註冊</button>
                </li>
            </ul>

        </div>
    </div>
</nav>